
*{

    margin: 0;
}
.container{
    height: 100vh;
    background: linear-gradient(
        skyblue,
        pink,
        lightgreen
    );
}
.title{
    text-align: center;
    text-shadow: 4px 4px 4px green;
}
 .button_container{
     display: flex;
     margin:  125px auto;
     justify-content: space-between;
     width: 50%;
 }
 .card_container{
     
     width: 80%;
     margin: 150px auto;
    
 }
